<%
  label_options = {}
  label_options[:for] = options[:id] if options[:id]
%>
<%= form.label(method, label_options) do %>
  <div class="<%= component.style(:label, :root) %>">
    <% if options[:label] %>
      <%= options[:label] %>
    <% else %>
      <%= t("activerecord.attributes.#{form.object.class.name.underscore}.#{method}") %>
    <% end %>
  </div>
  <% if options[:hint] %>
    <div class="<%= component.style(:hint, :root) %>">
      <%= t("activerecord.hints.#{form.object.class.name.underscore}.#{method}") %>
    </div>
  <% end %>
<% end %>