<div class="w-full flex flex-col gap-2">
  <div class="flex justify-between items-center" x-data="{ open: false }">
    <% if field_id %>
      <%= form.label field_id, t("activerecord.attributes.#{form.object_name}.#{field_id}") %>
    <% end %>
    <% if options[:hint] %>
      <div class="relative">
        <div class="text-primary-600 text-sm hover:cursor-help" @mouseover="open = true" @mouseover.away = "open = false">
          Hilfe
        </div>
        <div x-show="open"
             class="text-xs absolute border rounded-md bg-gray-100 border-gray-600 text-gray-600 p-1 z-10"
             style="top: 32px; right: -10px; width: 200px; max-width: 400px; display: none;"
             x-transition:enter="transition duration-200 transform ease-out"
             x-transition:enter-start="scale-75"
             x-transition:leave="transition duration-100 transform ease-in"
             x-transition:leave-end="opacity-0 scale-90"
        >
          <%= options[:hint].is_a?(String) ? options[:hint] : t("activerecord.hints.#{form.object_name}.#{field_id}") %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="block">
    <div class="grid grid-cols-<%= options[:columns] || 1 %> gap-2">
      <%= yield %>
    </div>
    <% if field_id && form.object.errors.include?(field_id) %>
      <div class="mt-1 text-danger-600 text-sm">
        <%= form.object.errors[field_id].join(", ") %>
      </div>
    <% end %>
  </div>
</div>