<div
  data-controller="upload"
  data-upload-target="dropzone"
  class="<%= component.style(:dropzone) %>"
>
  <%= form.label method, class: component.style(:label) do %>
    <div class="<%= component.style(:content) %>">
      <div data-upload-target="preview" class="<%= component.style(:preview) %>">
        <% if form.object.send(method).attached? %>
          <% blob = form.object.send(method).blob %>
          <% if blob.image? %>
            <%= image_tag url_for(blob), class: component.style(:preview_image) %>
          <% else %>
            <%= ui.icon("heroicons/solid/document", class: component.style(:icon)) %>
          <% end %>
        <% else %>
          <%= ui.icon("heroicons/solid/plus", class: component.style(:icon)) %>
        <% end %>
      </div>

      <p class="<%= component.style(:filename) %>" data-upload-target="filename">
        <% if form.object.send(method).attached? %>
          <%= form.object.send(method).filename %>
        <% else %>
          No file selected
        <% end %>
      </p>
    </div>

    <%= form.file_field method,
                        class: component.style(:file_input),
                        data: {
                          upload_target: "input",
                          action: "change->upload#updatePreview"
                        } %>
  <% end %>

  <%= form.hidden_field :"remove_#{method}", value: "0", data: { upload_target: "destroyInput" } %>

  <button type="button"
          data-action="upload#clear"
          class="<%= component.style(:clear_button) %>">
    Clear
  </button>
</div>
