<% view_context = style_helper.view %>
<%= view_context.active_link_to path, options do %>
  <% if defined?(initials) && initials.present? %>
    <span class="<%= style_helper.style(:link, :initials, :base) %>"><%= initials %></span>
  <% elsif defined?(icon) && icon.present? %>
    <%= view_context.ui.icon icon, class: style_helper.style(:link, :icon) %>
  <% end %>
  <%= title %>
<% end %>