<!DOCTYPE html>
<html>
<head>
  <title>Okonomi UI Kit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "okonomi_ui_kit/application.tailwind", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
