<div class="<%= component.style(:wrapper) %>">
  <div class="<%= component.style(:header) %>" x-data="{ open: false }">
    <% if field_id %>
      <%= form.label field_id, t("activerecord.attributes.#{form.object_name}.#{field_id}") %>
    <% end %>
    <% if options[:hint] %>
      <div class="relative">
        <div class="<%= component.style(:hint, :trigger) %>" @mouseover="open = true" @mouseover.away = "open = false">
          Hilfe
        </div>
        <div x-show="open"
             class="<%= component.style(:hint, :content) %>"
             style="top: 32px; right: -10px; width: 200px; max-width: 400px; display: none;"
             x-transition:enter="transition duration-200 transform ease-out"
             x-transition:enter-start="scale-75"
             x-transition:leave="transition duration-100 transform ease-in"
             x-transition:leave-end="opacity-0 scale-90"
        >
          <%= options[:hint].is_a?(String) ? options[:hint] : t("activerecord.hints.#{form.object_name}.#{field_id}") %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="<%= component.style(:content) %>">
    <div class="grid grid-cols-<%= options[:columns] || 1 %> gap-2 p-[1px]">
      <%= yield %>
    </div>
    <% if field_id && form.object.errors.include?(field_id) %>
      <div class="<%= component.style(:error) %>">
        <%= form.object.errors[field_id].join(", ") %>
      </div>
    <% end %>
  </div>
</div>